html, body {
    margin:0;
}

.accountSettings {
    background-color: white;
    .settings_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
    }
}