.TipsContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.Button {
    position: relative;
    left: 50%;
    margin-top: 15px;
}