html, body {
    margin:0;
}
.search {
    background-color: white;
    .search_content {
        display: flex;
        margin-bottom: 200px;
        .search_left, .search_right {
            display:flex;
            .ProfilePic {
                cursor:pointer;
            }
        }
        .search_left {
            margin-left: 70px;
            .Summary {
                margin-left: 50px;
            }
        }
    }
}