.TipsContent {
        align-items: center;
        justify-content: center;
        width: 100vw;
        margin: 0;
    .Tips {
        align-items: center;
        justify-content: center;
        min-width: 80vw;
    }
    
    .Button2 {
        width: 200px;
    }
}